In [752]:
!pip install pandas
!pip install numpy
!pip install seaborn
!pip install openpyxl

Requirement already satisfied: pandas in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (1.24.3)
Requirement already satisfied: seaborn in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=0.25 in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (from seaborn) (2.0.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Requirement already satisfied: openpyxl in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\aleks\desktop\lessons\week_5\mid_bootcamp_project\project\lib\site-packages (from openpyxl) (1.1.0)

In [753]:
import pandas as pd
import numpy as np
import seaborn as sns

In [820]:
data = pd.read_csv(r"C:\Users\aleks\Desktop\Lessons\Week_5\Mid_bootcamp_project\data\raw\immo_data.csv")
data.head() #read the data

,regio1,serviceCharge,heatingType,telekomTvOffer,newlyConst,balcony,totalRent,yearConstructed,noParkSpaces,firingTypes,...,petsAllowed,lift,typeOfFlat,noRooms,floor,numberOfFloors,garden,heatingCosts,lastRefurbish,electricityBasePrice
0,Nordrhein_Westfalen,245.00,central_heating,ONE_YEAR_FREE,False,False,840.0,1965.0,1.0,oil,...,NaN,False,ground_floor,4.0,1.0,3.0,True,NaN,NaN,NaN
1,Rheinland_Pfalz,134.00,self_contained_central_heating,ONE_YEAR_FREE,False,True,NaN,1871.0,2.0,gas,...,no,False,ground_floor,3.0,NaN,NaN,False,NaN,2019.0,NaN
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,True,True,1300.0,2019.0,1.0,NaN,...,NaN,True,apartment,3.0,3.0,4.0,False,NaN,NaN,NaN
3,Sachsen,58.15,district_heating,ONE_YEAR_FREE,False,True,NaN,1964.0,NaN,district_heating,...,NaN,False,other,3.0,3.0,NaN,False,87.23,NaN,NaN
4,Bremen,138.00,self_contained_central_heating,NaN,False,True,903.0,1950.0,NaN,gas,...,NaN,False,apartment,3.0,1.0,NaN,False,NaN,NaN,NaN

In [755]:
print(data.columns)

Index(['regio1', 'serviceCharge', 'heatingType', 'telekomTvOffer',
       'newlyConst', 'balcony', 'totalRent', 'yearConstructed', 'noParkSpaces',
       'firingTypes', 'hasKitchen', 'cellar', 'yearConstructedRange',
       'baseRent', 'livingSpace', 'condition', 'interiorQual', 'petsAllowed',
       'lift', 'typeOfFlat', 'noRooms', 'floor', 'numberOfFloors', 'garden',
       'heatingCosts', 'lastRefurbish', 'electricityBasePrice'],
      dtype='object')

In [756]:
data.info

<bound method DataFrame.info of                      regio1  serviceCharge                     heatingType
0       Nordrhein_Westfalen         245.00                 central_heating  \
1           Rheinland_Pfalz         134.00  self_contained_central_heating
2                   Sachsen         255.00                   floor_heating
3                   Sachsen          58.15                district_heating
4                    Bremen         138.00  self_contained_central_heating
...                     ...            ...                             ...
268845               Bayern          90.00                       heat_pump
268846               Hessen         220.00                     gas_heating
268847               Hessen         220.00                 central_heating
268848  Nordrhein_Westfalen         175.00                       heat_pump
268849               Hessen         315.00                 central_heating

       telekomTvOffer  newlyConst  balcony  totalRent  yearConstructed
0       ONE_YEAR_FREE       False    False      840.0           1965.0  \
1       ONE_YEAR_FREE       False     True        NaN           1871.0
2       ONE_YEAR_FREE        True     True     1300.0           2019.0
3       ONE_YEAR_FREE       False     True        NaN           1964.0
4                 NaN       False     True      903.0           1950.0
...               ...         ...      ...        ...              ...
268845  ONE_YEAR_FREE       False     True      910.0           2016.0
268846            NaN       False     True     1150.0           1983.0
268847  ONE_YEAR_FREE       False     True      930.0           1965.0
268848            NaN        True     True     1015.0           2019.0
268849            NaN       False     True        NaN           1972.0

        noParkSpaces       firingTypes  ...  petsAllowed   lift    typeOfFlat
0                1.0               oil  ...          NaN  False  ground_floor  \
1                2.0               gas  ...           no  False  ground_floor
2                1.0               NaN  ...          NaN   True     apartment
3                NaN  district_heating  ...          NaN  False         other
4                NaN               gas  ...          NaN  False     apartment
...              ...               ...  ...          ...    ...           ...
268845           1.0        geothermal  ...           no  False   roof_storey
268846           1.0               gas  ...   negotiable  False     apartment
268847           1.0               gas  ...   negotiable  False     apartment
268848           1.0               gas  ...           no   True     apartment
268849           1.0  district_heating  ...          NaN   True     apartment

        noRooms  floor numberOfFloors garden heatingCosts  lastRefurbish
0           4.0    1.0            3.0   True          NaN            NaN  \
1           3.0    NaN            NaN  False          NaN         2019.0
2           3.0    3.0            4.0  False          NaN            NaN
3           3.0    3.0            NaN  False        87.23            NaN
4           3.0    1.0            NaN  False          NaN            NaN
...         ...    ...            ...    ...          ...            ...
268845      3.0    NaN            NaN  False          NaN            NaN
268846      3.5    1.0            1.0  False          NaN         2015.0
268847      4.0    1.0            2.0   True          NaN         2019.0
268848      2.0    NaN            5.0  False        40.00         2019.0
268849      3.0    NaN           13.0  False          NaN            NaN

       electricityBasePrice
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
...                     ...
268845                  NaN
268846                  NaN
268847                  NaN
268848                  NaN
268849                  NaN

[268850 rows x 27 columns]>

In [757]:
#Renaming columns
newdata = data.rename(columns={'telekomTvOffer': 'telekomtvoffer',
                            'regio1': 'regio',
                           'serviceCharge': 'servicecharge',
                           'heatingType': 'heatingtype',
                           'newlyConst': 'newlyconst',
                           'price trend': 'pricetrend',
                           'totalRent': 'totalrent',
                           'yearConstructed': 'yearconstructed',
                           'noParkSpaces': 'noparkspaces',
                           'firingTypes': 'firingtypes',
                           'hasKitchen': 'haskitchen',
                           'yearConstructedRange': 'yearconstructedrange',
                            'livingSpace': 'livingspace',
                           'interiorQual': 'interiorqual',
                           'petsAllowed': 'petsallowed',
                           'typeOfFlat': 'typeofflat',
                           'noRooms': 'norooms',
                           'numberOfFloors': 'numberoffloors',
                           'heatingCosts': 'heatingcosts',
                           'lastRefurbish': 'lastrefurnish',
                           'electricityBasePrice': 'electricitybaseprice',
                              'baseRent': 'baserent'})
print(newdata.columns)

Index(['regio', 'servicecharge', 'heatingtype', 'telekomtvoffer', 'newlyconst',
       'balcony', 'totalrent', 'yearconstructed', 'noparkspaces',
       'firingtypes', 'haskitchen', 'cellar', 'yearconstructedrange',
       'baserent', 'livingspace', 'condition', 'interiorqual', 'petsallowed',
       'lift', 'typeofflat', 'norooms', 'floor', 'numberoffloors', 'garden',
       'heatingcosts', 'lastrefurnish', 'electricitybaseprice'],
      dtype='object')

In [758]:
newdata

,regio,servicecharge,heatingtype,telekomtvoffer,newlyconst,balcony,totalrent,yearconstructed,noparkspaces,firingtypes,...,petsallowed,lift,typeofflat,norooms,floor,numberoffloors,garden,heatingcosts,lastrefurnish,electricitybaseprice
0,Nordrhein_Westfalen,245.00,central_heating,ONE_YEAR_FREE,False,False,840.0,1965.0,1.0,oil,...,NaN,False,ground_floor,4.0,1.0,3.0,True,NaN,NaN,NaN
1,Rheinland_Pfalz,134.00,self_contained_central_heating,ONE_YEAR_FREE,False,True,NaN,1871.0,2.0,gas,...,no,False,ground_floor,3.0,NaN,NaN,False,NaN,2019.0,NaN
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,True,True,1300.0,2019.0,1.0,NaN,...,NaN,True,apartment,3.0,3.0,4.0,False,NaN,NaN,NaN
3,Sachsen,58.15,district_heating,ONE_YEAR_FREE,False,True,NaN,1964.0,NaN,district_heating,...,NaN,False,other,3.0,3.0,NaN,False,87.23,NaN,NaN
4,Bremen,138.00,self_contained_central_heating,NaN,False,True,903.0,1950.0,NaN,gas,...,NaN,False,apartment,3.0,1.0,NaN,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268845,Bayern,90.00,heat_pump,ONE_YEAR_FREE,False,True,910.0,2016.0,1.0,geothermal,...,no,False,roof_storey,3.0,NaN,NaN,False,NaN,NaN,NaN
268846,Hessen,220.00,gas_heating,NaN,False,True,1150.0,1983.0,1.0,gas,...,negotiable,False,apartment,3.5,1.0,1.0,False,NaN,2015.0,NaN
268847,Hessen,220.00,central_heating,ONE_YEAR_FREE,False,True,930.0,1965.0,1.0,gas,...,negotiable,False,apartment,4.0,1.0,2.0,True,NaN,2019.0,NaN
268848,Nordrhein_Westfalen,175.00,heat_pump,NaN,True,True,1015.0,2019.0,1.0,gas,...,no,True,apartment,2.0,NaN,5.0,False,40.00,2019.0,NaN
268849,Hessen,315.00,central_heating,NaN,False,True,NaN,1972.0,1.0,district_heating,...,NaN,True,apartment,3.0,NaN,13.0,False,NaN,NaN,NaN

In [759]:
missing_values = newdata.isnull().sum()
print(missing_values)  #Checking for missing values

regio                        0
servicecharge             6909
heatingtype              44856
telekomtvoffer           32619
newlyconst                   0
balcony                      0
totalrent                40517
yearconstructed          57045
noparkspaces            175798
firingtypes              56964
haskitchen                   0
cellar                       0
yearconstructedrange     57045
baserent                     0
livingspace                  0
condition                68489
interiorqual            112665
petsallowed             114573
lift                         0
typeofflat               36614
norooms                      0
floor                    51309
numberoffloors           97732
garden                       0
heatingcosts            183332
lastrefurnish           188139
electricitybaseprice    222004
dtype: int64

In [760]:
percent_missing = (newdata.isnull().sum() / len(newdata)) * 100
print(percent_missing) #Percentage of missing values in each column

regio                    0.000000
servicecharge            2.569834
heatingtype             16.684397
telekomtvoffer          12.132788
newlyconst               0.000000
balcony                  0.000000
totalrent               15.070485
yearconstructed         21.218151
noparkspaces            65.388879
firingtypes             21.188023
haskitchen               0.000000
cellar                   0.000000
yearconstructedrange    21.218151
baserent                 0.000000
livingspace              0.000000
condition               25.474800
interiorqual            41.906267
petsallowed             42.615957
lift                     0.000000
typeofflat              13.618747
norooms                  0.000000
floor                   19.084620
numberoffloors          36.351869
garden                   0.000000
heatingcosts            68.191185
lastrefurnish           69.979171
electricitybaseprice    82.575414
dtype: float64

In [761]:
newdata = newdata.drop(['electricitybaseprice', 'lastrefurnish', 'heatingcosts', 'petsallowed', 'noparkspaces', 'yearconstructedrange', 'telekomtvoffer'], axis=1)
newdata.columns  #Dropped these columns because some of them I dont need and the others have small large amount of missing values

Index(['regio', 'servicecharge', 'heatingtype', 'newlyconst', 'balcony',
       'totalrent', 'yearconstructed', 'firingtypes', 'haskitchen', 'cellar',
       'baserent', 'livingspace', 'condition', 'interiorqual', 'lift',
       'typeofflat', 'norooms', 'floor', 'numberoffloors', 'garden'],
      dtype='object')

In [762]:
newdata

,regio,servicecharge,heatingtype,newlyconst,balcony,totalrent,yearconstructed,firingtypes,haskitchen,cellar,baserent,livingspace,condition,interiorqual,lift,typeofflat,norooms,floor,numberoffloors,garden
0,Nordrhein_Westfalen,245.00,central_heating,False,False,840.0,1965.0,oil,False,True,595.0,86.00,well_kept,normal,False,ground_floor,4.0,1.0,3.0,True
1,Rheinland_Pfalz,134.00,self_contained_central_heating,False,True,NaN,1871.0,gas,False,False,800.0,89.00,refurbished,normal,False,ground_floor,3.0,NaN,NaN,False
2,Sachsen,255.00,floor_heating,True,True,1300.0,2019.0,NaN,False,True,965.0,83.80,first_time_use,sophisticated,True,apartment,3.0,3.0,4.0,False
3,Sachsen,58.15,district_heating,False,True,NaN,1964.0,district_heating,False,False,343.0,58.15,NaN,NaN,False,other,3.0,3.0,NaN,False
4,Bremen,138.00,self_contained_central_heating,False,True,903.0,1950.0,gas,False,False,765.0,84.97,refurbished,NaN,False,apartment,3.0,1.0,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268845,Bayern,90.00,heat_pump,False,True,910.0,2016.0,geothermal,False,True,820.0,90.00,mint_condition,sophisticated,False,roof_storey,3.0,NaN,NaN,False
268846,Hessen,220.00,gas_heating,False,True,1150.0,1983.0,gas,True,False,930.0,115.00,well_kept,sophisticated,False,apartment,3.5,1.0,1.0,False
268847,Hessen,220.00,central_heating,False,True,930.0,1965.0,gas,False,True,650.0,95.00,well_kept,NaN,False,apartment,4.0,1.0,2.0,True
268848,Nordrhein_Westfalen,175.00,heat_pump,True,True,1015.0,2019.0,gas,False,True,840.0,70.00,first_time_use,sophisticated,True,apartment,2.0,NaN,5.0,False
268849,Hessen,315.00,central_heating,False,True,NaN,1972.0,district_heating,True,True,935.0,77.00,modernized,NaN,True,apartment,3.0,NaN,13.0,False

In [763]:
percent_missing = (newdata.isnull().sum() / len(newdata)) * 100
print(percent_missing) #Percentage of missing values in each column

regio               0.000000
servicecharge       2.569834
heatingtype        16.684397
newlyconst          0.000000
balcony             0.000000
totalrent          15.070485
yearconstructed    21.218151
firingtypes        21.188023
haskitchen          0.000000
cellar              0.000000
baserent            0.000000
livingspace         0.000000
condition          25.474800
interiorqual       41.906267
lift                0.000000
typeofflat         13.618747
norooms             0.000000
floor              19.084620
numberoffloors     36.351869
garden              0.000000
dtype: float64

In [764]:
#Select numerical and categorical columns

# Select numerical columns
numerical_columns = newdata.select_dtypes(include=['int64', 'float64']).columns
print("Numerical columns: ", numerical_columns)

# Select categorical columns
categorical_columns = newdata.select_dtypes(include=['object']).columns
print("Categorical columns: ", categorical_columns)

Numerical columns:  Index(['servicecharge', 'totalrent', 'yearconstructed', 'baserent',
       'livingspace', 'norooms', 'floor', 'numberoffloors'],
      dtype='object')
Categorical columns:  Index(['regio', 'heatingtype', 'firingtypes', 'condition', 'interiorqual',
       'typeofflat'],
      dtype='object')

In [765]:
# Starting first with numerical columns to clean them
highest_service = newdata['servicecharge'].nlargest()
highest_service

25687     146118.0
243713     25000.0
144897     20392.0
153825     15750.0
178325     10038.0
Name: servicecharge, dtype: float64

In [766]:
newdata = newdata.drop(25687)
newdata   #droping the row maximum values because it is false it does not exist

,regio,servicecharge,heatingtype,newlyconst,balcony,totalrent,yearconstructed,firingtypes,haskitchen,cellar,baserent,livingspace,condition,interiorqual,lift,typeofflat,norooms,floor,numberoffloors,garden
0,Nordrhein_Westfalen,245.00,central_heating,False,False,840.0,1965.0,oil,False,True,595.0,86.00,well_kept,normal,False,ground_floor,4.0,1.0,3.0,True
1,Rheinland_Pfalz,134.00,self_contained_central_heating,False,True,NaN,1871.0,gas,False,False,800.0,89.00,refurbished,normal,False,ground_floor,3.0,NaN,NaN,False
2,Sachsen,255.00,floor_heating,True,True,1300.0,2019.0,NaN,False,True,965.0,83.80,first_time_use,sophisticated,True,apartment,3.0,3.0,4.0,False
3,Sachsen,58.15,district_heating,False,True,NaN,1964.0,district_heating,False,False,343.0,58.15,NaN,NaN,False,other,3.0,3.0,NaN,False
4,Bremen,138.00,self_contained_central_heating,False,True,903.0,1950.0,gas,False,False,765.0,84.97,refurbished,NaN,False,apartment,3.0,1.0,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268845,Bayern,90.00,heat_pump,False,True,910.0,2016.0,geothermal,False,True,820.0,90.00,mint_condition,sophisticated,False,roof_storey,3.0,NaN,NaN,False
268846,Hessen,220.00,gas_heating,False,True,1150.0,1983.0,gas,True,False,930.0,115.00,well_kept,sophisticated,False,apartment,3.5,1.0,1.0,False
268847,Hessen,220.00,central_heating,False,True,930.0,1965.0,gas,False,True,650.0,95.00,well_kept,NaN,False,apartment,4.0,1.0,2.0,True
268848,Nordrhein_Westfalen,175.00,heat_pump,True,True,1015.0,2019.0,gas,False,True,840.0,70.00,first_time_use,sophisticated,True,apartment,2.0,NaN,5.0,False
268849,Hessen,315.00,central_heating,False,True,NaN,1972.0,district_heating,True,True,935.0,77.00,modernized,NaN,True,apartment,3.0,NaN,13.0,False

In [767]:
highest_service = newdata['servicecharge'].nlargest()
highest_service

243713    25000.0
144897    20392.0
153825    15750.0
178325    10038.0
263502     9999.0
Name: servicecharge, dtype: float64

In [768]:
# Missing values for service_charge columns

missing_values1 = newdata['servicecharge'].isnull().sum()
missing_values1

6909

In [769]:
#Filling missing values for service_charge column

newdata['servicecharge'].fillna(service_mean, inplace=True)

In [770]:
missing_values1 = newdata['servicecharge'].isnull().sum()
missing_values1

0

In [771]:
# Column totalrent
highest_rent = newdata['totalrent'].nlargest(6)
highest_rent

239533    15751535.0
8406       1234567.0
109047     1150900.0
260259     1000000.0
79903       485350.0
23490       108000.0
Name: totalrent, dtype: float64

In [772]:
indices_to_drop = [239533, 8406, 109047, 260259,79903,23490]
newdata = newdata.drop(indices_to_drop)
newdata   #droping the row maximum values because it is false it does not exist

,regio,servicecharge,heatingtype,newlyconst,balcony,totalrent,yearconstructed,firingtypes,haskitchen,cellar,baserent,livingspace,condition,interiorqual,lift,typeofflat,norooms,floor,numberoffloors,garden
0,Nordrhein_Westfalen,245.00,central_heating,False,False,840.0,1965.0,oil,False,True,595.0,86.00,well_kept,normal,False,ground_floor,4.0,1.0,3.0,True
1,Rheinland_Pfalz,134.00,self_contained_central_heating,False,True,NaN,1871.0,gas,False,False,800.0,89.00,refurbished,normal,False,ground_floor,3.0,NaN,NaN,False
2,Sachsen,255.00,floor_heating,True,True,1300.0,2019.0,NaN,False,True,965.0,83.80,first_time_use,sophisticated,True,apartment,3.0,3.0,4.0,False
3,Sachsen,58.15,district_heating,False,True,NaN,1964.0,district_heating,False,False,343.0,58.15,NaN,NaN,False,other,3.0,3.0,NaN,False
4,Bremen,138.00,self_contained_central_heating,False,True,903.0,1950.0,gas,False,False,765.0,84.97,refurbished,NaN,False,apartment,3.0,1.0,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268845,Bayern,90.00,heat_pump,False,True,910.0,2016.0,geothermal,False,True,820.0,90.00,mint_condition,sophisticated,False,roof_storey,3.0,NaN,NaN,False
268846,Hessen,220.00,gas_heating,False,True,1150.0,1983.0,gas,True,False,930.0,115.00,well_kept,sophisticated,False,apartment,3.5,1.0,1.0,False
268847,Hessen,220.00,central_heating,False,True,930.0,1965.0,gas,False,True,650.0,95.00,well_kept,NaN,False,apartment,4.0,1.0,2.0,True
268848,Nordrhein_Westfalen,175.00,heat_pump,True,True,1015.0,2019.0,gas,False,True,840.0,70.00,first_time_use,sophisticated,True,apartment,2.0,NaN,5.0,False
268849,Hessen,315.00,central_heating,False,True,NaN,1972.0,district_heating,True,True,935.0,77.00,modernized,NaN,True,apartment,3.0,NaN,13.0,False

In [773]:
highest_rent = newdata['totalrent'].nlargest()
highest_rent

197378    64651.0
16832     63204.0
97927     51570.0
240954    37600.0
190283    26500.0
Name: totalrent, dtype: float64

In [774]:
# Missing values for totalrent columns

missing_valuesrent = newdata['totalrent'].isnull().sum()
missing_valuesrent

40517

In [775]:
#Filling missing values for totalrent column.

totalrent_mean = newdata["totalrent"].mean()
totalrent_mean

814.9425997039317

In [776]:
newdata["totalrent"].fillna(totalrent_mean, inplace=True)

In [777]:
missing_values2 = newdata['totalrent'].isnull().sum()
missing_values2

0

In [778]:
# Dealing with yearconstructed column. 
missing_valuesyc = newdata['yearconstructed'].isnull().sum()
missing_valuesyc

57042

In [779]:
#Filling missing values for totalrent column.

yearconstructed_med = newdata["yearconstructed"].median()
yearconstructed_med

1973.0

In [780]:
newdata['yearconstructed'] = newdata['yearconstructed'].fillna(yearconstructed_med)

In [781]:
missing_values3 = newdata['yearconstructed'].isnull().sum()
missing_values3

0

In [782]:
#Cleaning column baserent.

highest_brent = newdata['baserent'].nlargest(6)
highest_brent

264934    9999999.0
16731      120000.0
243713     120000.0
181618      39200.0
176647      30990.0
213625      20100.0
Name: baserent, dtype: float64

In [783]:
indices_to_drop1 = [264934 , 16731, 243713, 181618,176647]
newdata = newdata.drop(indices_to_drop1)
newdata   #droping the row maximum values because it is false it does not exist

,regio,servicecharge,heatingtype,newlyconst,balcony,totalrent,yearconstructed,firingtypes,haskitchen,cellar,baserent,livingspace,condition,interiorqual,lift,typeofflat,norooms,floor,numberoffloors,garden
0,Nordrhein_Westfalen,245.00,central_heating,False,False,840.0000,1965.0,oil,False,True,595.0,86.00,well_kept,normal,False,ground_floor,4.0,1.0,3.0,True
1,Rheinland_Pfalz,134.00,self_contained_central_heating,False,True,814.9426,1871.0,gas,False,False,800.0,89.00,refurbished,normal,False,ground_floor,3.0,NaN,NaN,False
2,Sachsen,255.00,floor_heating,True,True,1300.0000,2019.0,NaN,False,True,965.0,83.80,first_time_use,sophisticated,True,apartment,3.0,3.0,4.0,False
3,Sachsen,58.15,district_heating,False,True,814.9426,1964.0,district_heating,False,False,343.0,58.15,NaN,NaN,False,other,3.0,3.0,NaN,False
4,Bremen,138.00,self_contained_central_heating,False,True,903.0000,1950.0,gas,False,False,765.0,84.97,refurbished,NaN,False,apartment,3.0,1.0,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268845,Bayern,90.00,heat_pump,False,True,910.0000,2016.0,geothermal,False,True,820.0,90.00,mint_condition,sophisticated,False,roof_storey,3.0,NaN,NaN,False
268846,Hessen,220.00,gas_heating,False,True,1150.0000,1983.0,gas,True,False,930.0,115.00,well_kept,sophisticated,False,apartment,3.5,1.0,1.0,False
268847,Hessen,220.00,central_heating,False,True,930.0000,1965.0,gas,False,True,650.0,95.00,well_kept,NaN,False,apartment,4.0,1.0,2.0,True
268848,Nordrhein_Westfalen,175.00,heat_pump,True,True,1015.0000,2019.0,gas,False,True,840.0,70.00,first_time_use,sophisticated,True,apartment,2.0,NaN,5.0,False
268849,Hessen,315.00,central_heating,False,True,814.9426,1972.0,district_heating,True,True,935.0,77.00,modernized,NaN,True,apartment,3.0,NaN,13.0,False

In [784]:
missing_values4 = newdata['baserent'].isnull().sum()
missing_values4

0

In [785]:
# Dealing with column livingspace.

highest_lspace = newdata['livingspace'].nlargest(6)
highest_lspace

175397    111111.0
151184     66100.0
223187     10259.0
51540       8684.0
202205      7008.0
229248      4947.0
Name: livingspace, dtype: float64

In [786]:
indices_to_drop2 = [175397 , 151184, 223187, 51540,202205, 229248]
newdata = newdata.drop(indices_to_drop2)
newdata   #droping the row maximum values because it is false it does not exist

,regio,servicecharge,heatingtype,newlyconst,balcony,totalrent,yearconstructed,firingtypes,haskitchen,cellar,baserent,livingspace,condition,interiorqual,lift,typeofflat,norooms,floor,numberoffloors,garden
0,Nordrhein_Westfalen,245.00,central_heating,False,False,840.0000,1965.0,oil,False,True,595.0,86.00,well_kept,normal,False,ground_floor,4.0,1.0,3.0,True
1,Rheinland_Pfalz,134.00,self_contained_central_heating,False,True,814.9426,1871.0,gas,False,False,800.0,89.00,refurbished,normal,False,ground_floor,3.0,NaN,NaN,False
2,Sachsen,255.00,floor_heating,True,True,1300.0000,2019.0,NaN,False,True,965.0,83.80,first_time_use,sophisticated,True,apartment,3.0,3.0,4.0,False
3,Sachsen,58.15,district_heating,False,True,814.9426,1964.0,district_heating,False,False,343.0,58.15,NaN,NaN,False,other,3.0,3.0,NaN,False
4,Bremen,138.00,self_contained_central_heating,False,True,903.0000,1950.0,gas,False,False,765.0,84.97,refurbished,NaN,False,apartment,3.0,1.0,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268845,Bayern,90.00,heat_pump,False,True,910.0000,2016.0,geothermal,False,True,820.0,90.00,mint_condition,sophisticated,False,roof_storey,3.0,NaN,NaN,False
268846,Hessen,220.00,gas_heating,False,True,1150.0000,1983.0,gas,True,False,930.0,115.00,well_kept,sophisticated,False,apartment,3.5,1.0,1.0,False
268847,Hessen,220.00,central_heating,False,True,930.0000,1965.0,gas,False,True,650.0,95.00,well_kept,NaN,False,apartment,4.0,1.0,2.0,True
268848,Nordrhein_Westfalen,175.00,heat_pump,True,True,1015.0000,2019.0,gas,False,True,840.0,70.00,first_time_use,sophisticated,True,apartment,2.0,NaN,5.0,False
268849,Hessen,315.00,central_heating,False,True,814.9426,1972.0,district_heating,True,True,935.0,77.00,modernized,NaN,True,apartment,3.0,NaN,13.0,False

In [787]:
missing_values5 = newdata['livingspace'].isnull().sum()
missing_values5

0

In [788]:
# Dealing with column norooms

highest_numrooms = newdata['norooms'].nlargest(100)
highest_numrooms

103615    999.99
185115    560.00
36872     305.00
134862    230.00
17897     200.00
           ...
69711       9.00
71075       9.00
83957       9.00
87260       9.00
101160      9.00
Name: norooms, Length: 100, dtype: float64

In [789]:
sorted_newdata = newdata.sort_values('norooms', ascending=False)
trimmed_newdata = sorted_newdata.iloc[100:]
trimmed_newdata  #droping the row maximum values because it is false it does not exist

,regio,servicecharge,heatingtype,newlyconst,balcony,totalrent,yearconstructed,firingtypes,haskitchen,cellar,baserent,livingspace,condition,interiorqual,lift,typeofflat,norooms,floor,numberoffloors,garden
17673,Nordrhein_Westfalen,420.00000,oil_heating,False,False,2620.0000,1973.0,NaN,False,False,2200.0,230.0,NaN,NaN,False,ground_floor,9.0,0.0,0.0,False
164913,Bayern,150.64886,central_heating,False,False,814.9426,1973.0,NaN,False,False,750.0,166.0,NaN,NaN,False,apartment,9.0,NaN,NaN,False
6160,Bayern,240.00000,gas_heating,False,False,990.0000,1973.0,gas,False,False,750.0,200.0,NaN,NaN,False,other,9.0,1.0,2.0,False
121813,Nordrhein_Westfalen,900.00000,central_heating,False,True,814.9426,1913.0,gas,False,True,4400.0,360.0,fully_renovated,luxury,True,apartment,9.0,3.0,7.0,False
68564,Bayern,400.00000,self_contained_central_heating,False,False,814.9426,1974.0,gas,True,False,1575.0,175.0,fully_renovated,normal,False,apartment,9.0,3.0,3.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229098,Baden_Württemberg,0.00000,central_heating,False,True,370.0000,1955.0,district_heating,True,False,370.0,23.0,well_kept,normal,False,apartment,1.0,4.0,5.0,False
75383,Nordrhein_Westfalen,105.00000,central_heating,False,False,530.0000,1995.0,oil,True,False,395.0,48.0,well_kept,sophisticated,False,NaN,1.0,1.0,1.0,False
147773,Sachsen,85.00000,district_heating,False,True,290.0000,1990.0,district_heating,False,True,205.0,40.0,fully_renovated,normal,False,apartment,1.0,0.0,5.0,True
75387,Bayern,80.00000,central_heating,False,True,650.0000,2001.0,oil,True,False,550.0,35.0,well_kept,normal,False,roof_storey,1.0,2.0,2.0,False
134423,Sachsen,72.00000,central_heating,False,False,322.0000,1973.0,NaN,True,True,250.0,35.0,refurbished,normal,False,roof_storey,1.0,3.0,3.0,False

In [790]:
highest_numrooms = trimmed_newdata['norooms'].nlargest(10)
highest_numrooms

17673     9.0
164913    9.0
6160      9.0
121813    9.0
68564     9.0
111485    9.0
45920     9.0
56313     9.0
6693      9.0
142272    9.0
Name: norooms, dtype: float64

In [791]:
#Dealing with column floor. 

highest_floors = newdata['floor'].nlargest(20)
highest_floors

207070    999.0
201390    650.0
191102    645.0
197692    390.0
58923     139.0
105184    138.0
56384     137.0
244371    137.0
3272      136.0
123619    136.0
262383    136.0
134609    135.0
105426    134.0
56203     133.0
75178     124.0
179010    105.0
263467    104.0
31553      99.0
220954     99.0
179903     98.0
Name: floor, dtype: float64

In [792]:
indices_to_drop3 = [207070 , 201390, 191102, 197692, 58923, 105184, 56384, 244371, 3272, 123619, 262383, 134609, 105426, 56203, 75178, 179010, 263467, 31553, 220954, 179903]
newdata = newdata.drop(indices_to_drop3)
newdata   #droping the row maximum values because it is false it does not exist

,regio,servicecharge,heatingtype,newlyconst,balcony,totalrent,yearconstructed,firingtypes,haskitchen,cellar,baserent,livingspace,condition,interiorqual,lift,typeofflat,norooms,floor,numberoffloors,garden
0,Nordrhein_Westfalen,245.00,central_heating,False,False,840.0000,1965.0,oil,False,True,595.0,86.00,well_kept,normal,False,ground_floor,4.0,1.0,3.0,True
1,Rheinland_Pfalz,134.00,self_contained_central_heating,False,True,814.9426,1871.0,gas,False,False,800.0,89.00,refurbished,normal,False,ground_floor,3.0,NaN,NaN,False
2,Sachsen,255.00,floor_heating,True,True,1300.0000,2019.0,NaN,False,True,965.0,83.80,first_time_use,sophisticated,True,apartment,3.0,3.0,4.0,False
3,Sachsen,58.15,district_heating,False,True,814.9426,1964.0,district_heating,False,False,343.0,58.15,NaN,NaN,False,other,3.0,3.0,NaN,False
4,Bremen,138.00,self_contained_central_heating,False,True,903.0000,1950.0,gas,False,False,765.0,84.97,refurbished,NaN,False,apartment,3.0,1.0,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268845,Bayern,90.00,heat_pump,False,True,910.0000,2016.0,geothermal,False,True,820.0,90.00,mint_condition,sophisticated,False,roof_storey,3.0,NaN,NaN,False
268846,Hessen,220.00,gas_heating,False,True,1150.0000,1983.0,gas,True,False,930.0,115.00,well_kept,sophisticated,False,apartment,3.5,1.0,1.0,False
268847,Hessen,220.00,central_heating,False,True,930.0000,1965.0,gas,False,True,650.0,95.00,well_kept,NaN,False,apartment,4.0,1.0,2.0,True
268848,Nordrhein_Westfalen,175.00,heat_pump,True,True,1015.0000,2019.0,gas,False,True,840.0,70.00,first_time_use,sophisticated,True,apartment,2.0,NaN,5.0,False
268849,Hessen,315.00,central_heating,False,True,814.9426,1972.0,district_heating,True,True,935.0,77.00,modernized,NaN,True,apartment,3.0,NaN,13.0,False

In [793]:
missing_valuesfloor = newdata['floor'].isnull().sum()
missing_valuesfloor

51302

In [794]:
#Filling missing values for floor column.

floor_mean = newdata["floor"].mean()
floor_mean

2.1011125925244816

In [795]:
newdata["floor"].fillna(floor_mean, inplace=True)

In [796]:
missing_values5 = newdata['floor'].isnull().sum()
missing_values5

0

In [797]:
# Dealing with column numberoffloors.

highest_nrfloors = newdata['numberoffloors'].nlargest(20)
highest_nrfloors

48498     999.0
72253     999.0
100789    999.0
107377    800.0
181497    800.0
262400    730.0
150943    600.0
123333    594.0
202923    410.0
82112     400.0
43275     378.0
152273    370.0
35220     301.0
264425    252.0
251964    200.0
244899     99.0
247865     99.0
64453      92.0
26590      90.0
72096      54.0
Name: numberoffloors, dtype: float64

In [798]:
indices_to_drop4 = [48498, 72253, 100789, 107377, 181497, 262400, 150943, 123333, 202923, 82112, 43275, 152273, 35220, 264425, 251964, 244899, 247865, 64453, 26590]
newdata = newdata.drop(indices_to_drop4)
newdata   #droping the row maximum values because it is false it does not exist

,regio,servicecharge,heatingtype,newlyconst,balcony,totalrent,yearconstructed,firingtypes,haskitchen,cellar,baserent,livingspace,condition,interiorqual,lift,typeofflat,norooms,floor,numberoffloors,garden
0,Nordrhein_Westfalen,245.00,central_heating,False,False,840.0000,1965.0,oil,False,True,595.0,86.00,well_kept,normal,False,ground_floor,4.0,1.000000,3.0,True
1,Rheinland_Pfalz,134.00,self_contained_central_heating,False,True,814.9426,1871.0,gas,False,False,800.0,89.00,refurbished,normal,False,ground_floor,3.0,2.101113,NaN,False
2,Sachsen,255.00,floor_heating,True,True,1300.0000,2019.0,NaN,False,True,965.0,83.80,first_time_use,sophisticated,True,apartment,3.0,3.000000,4.0,False
3,Sachsen,58.15,district_heating,False,True,814.9426,1964.0,district_heating,False,False,343.0,58.15,NaN,NaN,False,other,3.0,3.000000,NaN,False
4,Bremen,138.00,self_contained_central_heating,False,True,903.0000,1950.0,gas,False,False,765.0,84.97,refurbished,NaN,False,apartment,3.0,1.000000,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268845,Bayern,90.00,heat_pump,False,True,910.0000,2016.0,geothermal,False,True,820.0,90.00,mint_condition,sophisticated,False,roof_storey,3.0,2.101113,NaN,False
268846,Hessen,220.00,gas_heating,False,True,1150.0000,1983.0,gas,True,False,930.0,115.00,well_kept,sophisticated,False,apartment,3.5,1.000000,1.0,False
268847,Hessen,220.00,central_heating,False,True,930.0000,1965.0,gas,False,True,650.0,95.00,well_kept,NaN,False,apartment,4.0,1.000000,2.0,True
268848,Nordrhein_Westfalen,175.00,heat_pump,True,True,1015.0000,2019.0,gas,False,True,840.0,70.00,first_time_use,sophisticated,True,apartment,2.0,2.101113,5.0,False
268849,Hessen,315.00,central_heating,False,True,814.9426,1972.0,district_heating,True,True,935.0,77.00,modernized,NaN,True,apartment,3.0,2.101113,13.0,False

In [799]:
missing_valuesnrfloors = newdata['numberoffloors'].isnull().sum()
missing_valuesnrfloors

97707

In [800]:
#Filling missing values for numberoffloors column.

numberoffloors_mean = newdata["numberoffloors"].mean()
numberoffloors_mean

3.5188735489753693

In [801]:
newdata["numberoffloors"].fillna(numberoffloors_mean, inplace=True)

In [802]:
missing_values6 = newdata['numberoffloors'].isnull().sum()
missing_values6

0

In [803]:
# Dealing with heatingtype column.

missing_values7 = newdata['heatingtype'].isnull().sum()
missing_values7

44848

In [804]:
mode = newdata['heatingtype'].mode()[0]
newdata['heatingtype'].fillna(mode, inplace=True)

In [805]:
print(newdata['heatingtype'].isnull().sum())

0

In [806]:
# Dealing with firingtypes column.

missing_values8 = newdata['firingtypes'].isnull().sum()
missing_values8

56950

In [807]:
mode2 = newdata['firingtypes'].mode()[0]
newdata['firingtypes'].fillna(mode, inplace=True)

In [808]:
print(newdata['firingtypes'].isnull().sum())

0

In [809]:
# Dealing with condition column.

missing_values9 = newdata['condition'].isnull().sum()
missing_values9

68474

In [810]:
mode3 = newdata['condition'].mode()[0]
newdata['condition'].fillna(mode, inplace=True)

In [811]:
print(newdata['condition'].isnull().sum())

0

In [ ]:
# Dealing with interiorqual column.

In [812]:
missing_values10 = newdata['interiorqual'].isnull().sum()
missing_values10

112633

In [813]:
mode4 = newdata['interiorqual'].mode()[0]
newdata['interiorqual'].fillna(mode, inplace=True)

In [814]:
print(newdata['interiorqual'].isnull().sum())

0

In [815]:
# Dealing with typeofflat column.

missing_values11 = newdata['typeofflat'].isnull().sum()
missing_values11

36607

In [816]:
mode5 = newdata['typeofflat'].mode()[0]
newdata['typeofflat'].fillna(mode, inplace=True)

In [817]:
print(newdata['typeofflat'].isnull().sum())

0

In [818]:
# After cleaning all the columns we check once again the dataset.

percent_missing = (newdata.isnull().sum() / len(newdata)) * 100
print(percent_missing) #Percentage of missing values in each column

regio              0.0
servicecharge      0.0
heatingtype        0.0
newlyconst         0.0
balcony            0.0
totalrent          0.0
yearconstructed    0.0
firingtypes        0.0
haskitchen         0.0
cellar             0.0
baserent           0.0
livingspace        0.0
condition          0.0
interiorqual       0.0
lift               0.0
typeofflat         0.0
norooms            0.0
floor              0.0
numberoffloors     0.0
garden             0.0
dtype: float64

In [819]:
newdata

,regio,servicecharge,heatingtype,newlyconst,balcony,totalrent,yearconstructed,firingtypes,haskitchen,cellar,baserent,livingspace,condition,interiorqual,lift,typeofflat,norooms,floor,numberoffloors,garden
0,Nordrhein_Westfalen,245.00,central_heating,False,False,840.0000,1965.0,oil,False,True,595.0,86.00,well_kept,normal,False,ground_floor,4.0,1.000000,3.000000,True
1,Rheinland_Pfalz,134.00,self_contained_central_heating,False,True,814.9426,1871.0,gas,False,False,800.0,89.00,refurbished,normal,False,ground_floor,3.0,2.101113,3.518874,False
2,Sachsen,255.00,floor_heating,True,True,1300.0000,2019.0,central_heating,False,True,965.0,83.80,first_time_use,sophisticated,True,apartment,3.0,3.000000,4.000000,False
3,Sachsen,58.15,district_heating,False,True,814.9426,1964.0,district_heating,False,False,343.0,58.15,central_heating,central_heating,False,other,3.0,3.000000,3.518874,False
4,Bremen,138.00,self_contained_central_heating,False,True,903.0000,1950.0,gas,False,False,765.0,84.97,refurbished,central_heating,False,apartment,3.0,1.000000,3.518874,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268845,Bayern,90.00,heat_pump,False,True,910.0000,2016.0,geothermal,False,True,820.0,90.00,mint_condition,sophisticated,False,roof_storey,3.0,2.101113,3.518874,False
268846,Hessen,220.00,gas_heating,False,True,1150.0000,1983.0,gas,True,False,930.0,115.00,well_kept,sophisticated,False,apartment,3.5,1.000000,1.000000,False
268847,Hessen,220.00,central_heating,False,True,930.0000,1965.0,gas,False,True,650.0,95.00,well_kept,central_heating,False,apartment,4.0,1.000000,2.000000,True
268848,Nordrhein_Westfalen,175.00,heat_pump,True,True,1015.0000,2019.0,gas,False,True,840.0,70.00,first_time_use,sophisticated,True,apartment,2.0,2.101113,5.000000,False
268849,Hessen,315.00,central_heating,False,True,814.9426,1972.0,district_heating,True,True,935.0,77.00,modernized,central_heating,True,apartment,3.0,2.101113,13.000000,False

In [821]:
newdata.to_csv('cleaned_dataset.csv', index=False)